/* Eelements */

body {
    background-color: Black;
}

/* Server List */

.NavV4Sidebar-container {
    background-color: Black;
    border-right: 1px solid rgba(163,163,172,.2);
}

.NavV4SidebarFooter-container {
    background-color: Black;
}

/* Short Server Bar And Channels Lists  Combined*/

.WebAppSidebar-container {
    border-right: 1px solid rgba(163,163,172,.2);
}

/* Short Server Bar */

.GroupSelector-container {
    background-color: Black;
}

.PortalTarget-container {
    background-color: Black;
}

/* Channels Lists */

.TeamNavMenu-container {
    background-color: Black;
    border-right: 1px solid rgba(163,163,172,.2);
    border-left: 1px solid rgba(163,163,172,.2);
}

.NavV4Footer-footer-content {
    background-color: Black;
}

.ChatChannelList-container {
    background-color: Black;
}

.NavV4FooterGlobalContextDisplay-teams-wrapper {
    background-color: Black;
    border-top: 1px solid rgba(163,163,172,.2);
}

.NavV4Footer-right {
    background-color: Black;
    border-top: 1px solid rgba(163,163,172,.2);
    border-right: 1px solid rgba(163,163,172,.2);
    border-left: 1px solid rgba(163,163,172,.2);
}

/* Context Menues */

.ContextMenu-content {
    background-color: Black;
}

.QuickActionBar-container {
    background-color: Black;
    border: 1px solid rgba(163,163,172,.2);
}

.ChannelHeaderMoreOptionsMenu-container {
    background-color: Black;
}

.ChatChannelInputStatusBar-container {
    background-color: Black;
    border-right: 1px solid rgba(163,163,172,.2);
    border-left: 1px solid rgba(163,163,172,.2);
    border-top: 1px solid rgba(163,163,172,.2);
}

/* Chat Centers */

.NullStateV2-container {
    background-color: Black;
}

.ChatSummary-container {
    background-color: Black;
}

.ChannelWrapper-container {
    background-color: Black;
}

.OpenGraphEmbed-content {
    background-color: Black;
    border: 1px solid rgba(163,163,172,.2);
}

/* Chat Header */

.ScreenHeader-container {
    background-color: Black;
}

/* Text Boxes */

.SlateEditorContext-container {
    background-color: Black;
}

.Editor-container {
    border-color: rgba(163,163,172,.2);
}

.PageSidebar-container {
    background-color: Black;
    border-left: 1px solid rgba(163,163,172,.2);
}

.SearchBarInput-container {
    border: 1px solid rgba(163,163,172,.2);
}

/* Right Side Bars */

.TeamPageSidebarMembersV2-container,
.SidebarInfoItem-container {
    background-color: Black;
    border: 1px solid rgba(163,163,172,.2);
}

/* Options Menues */

.SettingsOverlay-container,
.OptionsMenu-container-desktop .OptionsMenu-options-control,
.OptionsMenuPageWrapper-container {
    background-color: Black;
}

.OptionsMenu-options-control {
    border-right: 1px solid rgba(163,163,172,.2);
    border-left: 1px solid rgba(163,163,172,.2);
    margin-left: 25vw
}

.OptionsMenuPageWrapper-container {
    width: 40vw !important;
}
